
  <!--contacts-list works!-->
  <!--{{contact}}-->

  <!--<ul *ngFor="let contact of contacts">
   <li *ngIf="contact.firstName == 'Martin' && contact.lastName =='Hess'">{{contact.firstName}} {{contact.lastName}} {{contact.email}}</li>
   <li >{{contact.firstName}} {{contact.lastName}} {{contact.email}}
    <button class="btn btn-danger"
    (click)="removeContact(contact)">Remove</button>
   </li>
   
  </ul>-->

<table class="table table" >
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tr *ngFor="let contact of contacts | filter:searchTerm">
    <td>{{contact.firstName}}</td>
    <td>{{contact.lastName}}</td>
    <td>{{contact.email | uppercase}}</td>

    <td><button
            class="btn btn-danger"
            (click)="removeContact(contact)">
          X
        </button>
    </td>

  </tr>
</table>

<input type="text" name="" [(ngModel)]="searchTerm">
<div>Input value:{{testModel}}</div>